[user]
    email = mitch@r00t.ca
    name = Mitch Roote
[core]
    editor = vi
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
[difftool]
    prompt = false
[status]
    submoduleSummary = true
[alias]
    d = difftool
    c = commit -v
[rerere]
	enabled = true
    autoupdate = true
[diff]
    tool = vscode
[merge]
    tool = vscode
[mergetool "vscode"]
    cmd = code --wait $MERGED
[init]
	defaultBranch = main
[maintenance]
	repo = /home/mitch/src/terraform/cloud-inf
