[submodule ".zsh/themes/pure"]
	path = .zsh/themes/pure
	url = https://github.com/sindresorhus/pure.git
[submodule ".config/nvim"]
	path = .config/nvim
	url = ssh://git@gitea.lan.r00t.ca:2222/mitch/nvim-conf.git
