[user]
	email = mitch@r00t.ca
    name = Mitch Roote
[core]
    editor = vim
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
[status]
    showuntrackedfiles = no
[diff]
    tool = vimdiff
